<!DOCTYPE html>
<html lang="en">

 <!-- Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)-->
 <!-- Code licensed under the Apache License v2.0.-->
 <!-- For details, see http://www.apache.org/licenses/LICENSE-2.0.-->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Get a redis instace in one click">
    <meta name="author" content="Mohamed Bassem">

    <title>Get A Redis</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/line-scale.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body id="page-top" class="index">

    <a href="https://github.com/MohamedBassem/getaredis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

      <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!--<img class="img-responsive" src="img/profile.png" alt="">-->
              <div class="intro-text">
                <span class="name">Get A Redis</span>
                <hr class="star-light">
                <span class="skills">Get a 5MB redis instance for 12 hours with one click*</span>
                <div id="getaredis" class="col-lg-8 col-lg-offset-2 text-center">
                  <span class="btn btn-lg btn-outline">
                    Get A Redis
                  </span>
                </div>
                <div id="message" class="col-lg-4 col-lg-offset-4">
                  Something Went Wrong
                </div>
                <div id="error" style="display:none" class="col-lg-4 col-lg-offset-4">
                  Something Went Wrong
                </div>
                <div id="loader" style="visibility:hidden;" class="col-lg-2 col-lg-offset-5 la-line-scale la-lg">
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div id="footer" style="padding-top:7.5px;height:52.5px;text-align:center;width:100%;">
        * Limited to 5 connections per instance. <br/>
        Developed by <a href="http://mbassem.com">Mohamed Bassem</a> <br/>
      </div>
  </body>

  <script src="js/main.js" > </script>

</html>
